.btn{
    display: block;
    width: 100%;
    font-size: 20px;
    line-height: 1;
    font-weight: 400;
    text-transform:uppercase ;
    color: black;
    padding: 10px 0;
    margin:o auto;
    border:0;
    outline:none;
    cursor: pointer;
}